<%- include('partials/header') %>

  <div class="container">
    <main>
      <h1>This is the About page!</h1>
    </main>
  
    <%- include('partials/sidebar') %>
  </div>

<%- include('partials/footer') %>